/* Pictish Tattoo by Faernach
	http://www.colourlovers.com/palette/143080/Pictish_Tattoo */
$dusk: #271f3a;
$woad: #353c53;
$loch_lomond: #61767e;
$costa_brava: #d6ccb1;
$puddy: #d1bf99;
$white: #fff;
$black: #000;

/* colors: 
	border
	nav header
	body bg
	body text

	darkest
	darker
	medium
	lighter
	lightest
*/

$border_color: $dusk;
$text_color: $dusk;
$hover: $woad;
$link: $woad;
$col_header: $loch_lomond;
$footer_text: $woad;
$header_background: $puddy;
$body_background: $white;
$text_color: $black;
