$footer_height: 50px;

.nav {
	background-color: $header_background;
	padding: 0 2em;
	margin: 0;
	ul {
		color: $dusk;
		list-style: none;
		li {
			list-style: none;
			display: inline;
			padding: 1em;
			margin: 0;
			a {
				text-decoration: none;
				color: $dusk;
			}
		}
		li:hover {
			color: $header_background;
			background-color: $hover;
			a:hover {
				color: $header_background;
				background-color: $hover;
			}
		}
	}

	.logo {
		font-size: 200%;
		float: left;
		padding: .25em 0;
	}
}

@media only screen and (max-width: $mobile_max_width) {

	.flex .nav {
		width: 100%;
		margin: 0;
		padding: 0;

		 ul {
			border-top: 1px solid $hover;
			width: 100%;

			li {
				display: block;
				margin: 0;
				padding: 1em;
				text-align: right;
			}
		}
		.logo {
			padding: .25em;
		}

		.above-nav {
			display: none;
		}
	}
}

body {
	margin: 0 0 $footer_height;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: $footer_height;
	width: 100%;
	color: $footer_text;
	background-color: $puddy;

	.copy {
		margin-right: 2em;
		margin-top: 1em;
	}
}
.fixed .footer {
	position: relative;
	width: 960px;
	margin: auto;
}
