@import 'framework';
@import 'clearfix';
@import 'default_colors';
@import 'extras';
@import 'nav';
@import 'fonts';

.col_1 {
	background-color: #f00;
}
.col_1-2 {
	background-color: #ff0;
}
.col_1-3 {
	background-color: #f0f;
}
.col_1-4 {
	background-color: #0f0;
}
.col_1-5 {
	background-color: #0ff;
}
.col_1-6 {
	background-color: #ccc;
}

.col_1 p, .col_2 p, .col_3 p, .col_4 p, .col_5 p, .col_6 p {
	margin: 1em 2em;
}

body {
	background-color: $body_background;
	color: $text_color;	
}
