@import 'framework';
@import 'clearfix';
@import 'default_colors';
@import 'extras';
@import 'nav';
@import 'fonts';

body {
	background-color: $body_background;
	color: $text_color;	
}

.ex {
	background-color: $puddy; 
	border: solid 1px $woad;
}
