@import 'clearfix';
@import 'default_colors';

/* Max and min widths for tablet sized screen */
$tablet_max_width: 959px;
$tablet_min_width: 768px;

/* Max and min widths for mobile landscape sized screen */
$landscape_max_width: 767px;
$landscape_min_width: 480px;

/* Max width for mobile sized screen */
$mobile_max_width: 479px;

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: $white;
}

 
/* Tablet Screen Sizes */
@media only screen and (min-width: $tablet_min_width) and (max-width: $tablet_max_width) {

	body, .row {
		min-width: $tablet_min_width - 1;
	}

	.col_2 {
		width: ($tablet_min_width - 20)/2;
	} 

	.col_3 {
		width: ($tablet_min_width - 20)/3;
	}

	.col_4 {
		width: ($tablet_min_width - 20)/4;
	}
}
 
/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: $landscape_min_width) and (max-width: $landscape_max_width) {

	$landscape_width: 225px;

	body, .row {
		min-width: $landscape_min_width - 1;
	}
 
	.col_2 {
		width: $landscape_width;
	}
	.col_3 {
		width: $landscape_width;
	}
	.col_4 {
		width: $landscape_width;
	}
}
/* Mobile Portrate Screen Sizes */
@media only screen and (max-width: $mobile_max_width) {

	$mobile_width: 320px;
	body, .row {
		min-width: $mobile_width;
	}
 
	.col_2 {
		width: $mobile_width - 20; 
	}
	.col_3 {
		width: $mobile_width - 20; 
	}
	.col_4 {
		width: $mobile_width - 20; 
	}
}

.border {
	border: 1px solid $border_color;
}

.nav {

	ul {
		list-style: none;

		li:hover {
			color: $white;
			background-color: $hover;
		}
	}
}

a {
	color: $link;
}

a:hover {
	background-color: #ddd;
}

a:visited {
	color: $link;
}

.col-header {
	background-color: $col_header;
	font-weight: bold;
	font-size: 125%;
}
